body{
    font-family: arial, sans-serif;
    overflow-x: hidden;
}

main{
    width: 100%;
    height: 100%;
}


nav{
    width: 100%;
    height: 60px;
    background: #526481;
    position: fixed;
    z-index: 9;
}

.logo{
    color: #fff;
    font-size: 25px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    
    -webkit-animation: coming 2s ease;
    -o-animation: coming 2s ease;
    animation: coming 2s ease;

}

.menu{
    float: left;
    padding-left: 430px;
}

.menu li{
    float: left;
    color: #fff;
    line-height: 60px;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    
    -webkit-animation: topshift 0.5s forwards ease;
    -o-animation: topshift 0.5s forwards ease;
    animation: topshift 0.5s forwards ease;
    
    opacity: 0;
}

.main{
    width: 100%;
    background:url(../img/boy.png) no-repeat 90% 100%/auto 85% ,url(../img/BG.jpg)center/cover no-repeat;
    height: 100%;
    box-shadow: 0px 0px 20px #000;/*тень во внутрь должна быть*/
}

.title_container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #445674;
    text-align: center;
    opacity: 0;
    
    -webkit-animation: title_move 1s ease forwards;
    -o-animation: title_move 1s ease forwards;
    animation: title_move 1s ease forwards;
    
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    margin-top: 35px;
    font-size: 22px;
    color: #79818d;
}

.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 14px;
    margin: 55px 14px 0px 14px
}

.description{
    background:url(../img/trait.png) no-repeat 50% 53px, url(../img/boy-2.jpg) 50% 117px no-repeat;
    width: 100%;
    height: 656px;
}


.description h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #263244;
    margin: 85px 0px 344px 0px;
    
}


.description p{
    color: #3f495a;
    margin: 23px 596px;
}

.description input{
    color: #6f707e;
    margin: 0 auto;
    border: solid 2px #6f707e;
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
    display: block;
    text-align: center;
    background: url(../img/downloud.png) no-repeat 10px 50%;
    padding: 0px 11px 0px 32px;
}

.skills{
    background:url(../img/gramophone.png) no-repeat 1376px 275px ,url(../img/rocket.png) no-repeat 1085px 275px ,url(../img/sign.png) no-repeat 789px 275px ,url(../img/laptop.png) no-repeat 500px 275px ,url(../img/trait.png) no-repeat 50% 160px ,url(../img/BG-3.jpg) no-repeat center/cover;
    width: 100%;
    height: 521px;
    
}

.skills h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #263244;
    padding-top: 107px;
}
    
.cases {
    background:url(../img/trait.png) no-repeat 50% 52px , url(../img/BG-4.jpg) no-repeat 50% 130px;
    width: 100%;
    height: 750px;
}

.cases h2{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #384354;
    margin: 105px 0px 0px 0px;
}

.one{
    color: #3f495a;
    display: block;
    text-align: center;
    margin-top: 40px;
}

.two {
    color: #384354;
    margin: 660px 0px 0px 308px;
}
.two h3{
    font-size: 25px;
    margin: 7px 0px;
}

.a{
    float: left;
    text-align: center;
    margin-left: 398px;
    
}

.b{
    float: left;
    text-align: center;
    margin-left: 33px;
}


.c{
    float: left;
    text-align: center;
    margin-left: 30px;
}


.d{
    float: left;
    text-align: center;
    margin-left: 34px;
    
}

.skills p{
    color: #cf7600;
    font-size: 22px;
}

.skills span{
    color: #3f495a;
}

.skills div{
    margin-top: 200px;
    font-weight: 500;
}

.cases input{
    background-color: #63b5ae;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 42px;
}

.e{
    margin-left: 600px;
    
}

.e h3{
    color: #384354;
    font-size: 25px;
    
}

.e span{
    color: #3f495a;
}

.calculations {
    background:url(../img/line.jpg) no-repeat 50% 521px;
    width: 100%;
    height: 1028px;
}

.calculations h2{
    margin-top: 278px;
    font-size: 40px;
    color: #1c2534;
    text-align: center;
    font-weight: bold;
    margin-bottom: 55px;
}

.calculations h3{
    text-transform: uppercase;
    color: #1c2534;
    font-size: 25px;
    margin-left: 450px;
    margin-bottom: 22px;
    font-weight: 600;
}

.calculations select{
    margin-left: 450px;
    background-color: #eee;
    width: 891px;
    height: 57px;
    margin-bottom: 44px;
    color: #737373;
    font-size: 15px;
}

.calculations p{
    margin-left: 450px;
    color: #1c2534;
    font-size: 18px;
    margin-bottom: 20px;
}

.calculations input{
    margin-left: 780px;
    color: #fff;
    border-radius: 5px;
    background-color: #63b5ae;
    font-size: 16px;
    padding: 8px 15px;
}

.sd{
    word-spacing: 825px;
    font-weight: bold;
}

.sb{
    word-spacing: 783px;
    font-weight: bold;
}

.calculations{
    height: 100%
}

.statistics{
    background:url(../img/trait.png) no-repeat 50% 157px;
    width: 100%;
    height: 100%;
    margin-bottom: -235px;
}

.statistics h2{
    font-size: 40px;
    color: #323e4f;
    font-weight: bold;
    text-align: center;
    padding-top: 103px;
    
}

.six_a{
    float: left;
    margin-top: 112px;
    margin-left: 439px;
    
}

.six_b{
    float: left;
    margin-top: 112px;
    margin-left: 156px;
}

.six_c{
    float: left;
    margin-top: 112px;
    margin-left: 151px;
}

.six_d{
    float: left;
    margin-top: 112px;
    margin-left: 151px;
}

.statistics h3{
    font-size: 40px;
    color: #323e4f;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
}

.statistics span{
    color: #323e4f;
    font-weight: 600;
    
}

.six_a img{
    margin-left: 53px;
    margin-bottom: 32px;
}

.six_b img{
    margin-bottom: 38px;
    margin-left: 17px;
}

.six_c img{
    margin-left: 48px;
    margin-bottom: 37px;
    
}

.six_d img{
    margin-left: 30px;
    margin-bottom: 32px;
}

.reviews{
    background:url(../img/boy-7.png) no-repeat 50% 130px ,url(../img/trait.png) no-repeat 50% 65px;
    height: 65%;
    margin-top: -600px;
}

.reviews h2{
    color: #243042;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.reviews span{
    color: #243042;
    text-align: center;
    display: block;
    margin-top: 231px;
    font-weight: bold;
}

.reviews p{
    text-align: center;
    font-size: 17px;
    color: #243042;
    font-weight: bold;
    margin-top: 36px;
}

.footer{
    background:url(../img/trait.png) no-repeat 50% 159px ,url(../img/BG-8.jpg) no-repeat center/cover;
    width: 100%;
    height: 100%;
}

.footer h3{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 105px;
}

.footer span{
    color: #fff;
    text-align: center;
    display: block;
    font-size: 16px;
    margin-top: 55px;
}

.footer li{
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-top: 45px;
}

.t{
    margin-left: 625px;
}

.y{
    margin-left: 55px;
}

.u{
    margin-left: 80px;
}

.footer p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 39px;
}

.input_one{
    background-color: #d3d6dc;
    width: 352px;
    height: 34px;
    font-size: 16px;
    margin: 0px 29px 0px 530px;
    padding: 9px 14px;
    margin-top: 46px;
}

.input_two{
    background-color: #d3d6dc;
    width: 352px;
    height: 34px;
    font-size: 16px;
    padding: 10px 13px;
   
}

.input_three{
    background-color: #d3d6dc;
    font-size: 16px;
    display: block;
    margin-left: 530px;
    margin-top: 14px;
    width: 737px;
    height: 94px;
    padding: 10px 12px;
    
}

.input_four{
    background: none;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    margin-top: 28px;
    font-size: 16px;
    padding: 13px 16px;
    
}

.BG_nine{
    background: url(../img/map.jpg) no-repeat ;
    width: 100%;
    height: 350px;
}

.BG_ten{
    background-color: #354051;
    height: 96px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 16px;
    display: block;
    padding-top: 41px;
}




.menu li a{
    transition: 0.3s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited{
    color: #fff;
}

.menu li a:hover{
    color: #ff970d;
}

.menu li a:active{
    transform: scale(1.15);
}

.title_container input{
    transition: 0.3s;
    transform: scale(1);
}

.title_container input:hover{
    background: #344051;
    color: white;
}

.title_container input:active{
    transform: scale(1.15);
}

@keyframes coming{
    from{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    
    to{
        opacity: 1;
        margin-top: 0px;
    }
}


.menu li:nth-child(2){
    animation-delay: 0.5s;
}

.menu li:nth-child(3){
    animation-delay: 1s;
}

.menu li:nth-child(4){
    animation-delay: 1.5s;
}

.menu li:nth-child(5){
    animation-delay: 2s;
}

.menu li:nth-child(6){
    animation-delay: 2.5s;
}

@keyframes title_move{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    
    to{
        opacity: 1;
        margin-left: 404px;
    }
}

.description input{
    transition: 0.3s;
    transform: scale(1);
}

.description input:hover{
    color: white;
    background-color: #344051;
    background: url(../img/white-downloud.png) no-repeat 10px 50%, #344051;
}

.description input:active{
    transform: scale(1.15);
}

.description p{
    transition: 0.2s;
}

.description p:hover{
    color: #ff970d;
    font-size: 17px;
}

.circle{
    width: 210px;
    height: 210px;
    border: 0px dashed #fff;
    border-radius: 50%;
    margin-top: -270px;
    margin-left: 44.2%;
    transition: 1s;
    transform: rotate(0);
}


.circle:hover{
    border: 6px dashed #38547b;
    transform: rotate(360deg);
}/*хотел здесь сделать градиетовую обводкуlinear-gradient(120deg, #f6d365 0%, #fda085 100%);*/

.a{
    transition: 1s;
    transform: scale(1);
}


.a:hover{
    transform: translate(-100px, 80px) scale(1.7);
}

.b{
    transition: 1s;
    transform: scale(1);
}


.b:hover{
    transform: translate(0, 80px) scale(1.7);
}

.c{
    transition: 1s;
    transform: scale(1);
}


.c:hover{
    transform: translate(0, 80px) scale(1.7);
   
}

.d{
    transition: 1s;
    transform: scale(1);
}


.d:hover{
    transform: translate(100px, 80px) scale(1.7);
}

.one{
    transition: 0.5s;
    transform: scale(1);
}

.one::first-letter{
    color: red;
    font-size: 18px;
}

.one:hover{
    transform: scale(1.5);
}

.cases input{
    transition: 0.3s;
    transform: scale(1);
    margin-top: 25px;
}

.cases input:hover{
    background: #ff970d;
}

.cases input:active{
    transform: scale(1.15);
}

.e{
    transition: 1s;
    transform: scale(1);
}

.e:hover{
    transform: translate(200px, 50px) scale(1.4);
}

.e span{
    transition: 0.5s;
}

.e span:hover{
    color: #e3870c;
}

.loader{
    position: absolute;
    width: 170px;
    height: 170px;
    border: 16px solid #b6bbc1;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    z-index: 10;
    margin: -75px 0 0 -75px;
    border-top: 16px solid #344051;
    
    -webkit-animation: spin 2s infinite ease-in-out;
    -o-animation: ;
    animation: ;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.calculations input{
    transition: 0.3s;
    transform: scale(1);
    
}

.calculations input:hover{
    background: #ff970d;
}

.calculations input:active{
    transform: scale(1.15);
}

.calculations h3::before{
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    transform: scaleX(0);
    background: red;
    transition: 0.35s;
    border-radius: 50%;
    margin-bottom: 5px;
}

.calculations h3:hover::before{
    transform: scaleX(1);
}

.calculations select{
    transition: 0.2s;
}

.calculations select:focus{
    border: 3px solid #344051;
    box-shadow: 0 0 20px rgba(52, 64, 81, 0.7);
}

.footer span{
    transform: scale(1);
    transition: 0.3s;
}

.footer span:hover{
    transform: scale(1.3);
}

.footer li{
    transition: 0.3s;
}

.footer li:hover{
    color: #ff970d;
}

.input_one{
    transition: 0.2s;
}

.input_one:focus{
    border: 3px solid #e4952e;
    box-shadow: 0 0 20px rgba(228, 149, 46, 0.7);
}

.input_two{
    transition: 0.2s;
}

.input_two:focus{
    border: 3px solid #e4952e;
    box-shadow: 0 0 20px rgba(228, 149, 46, 0.7);
}

.footer textarea{
    transition: 0.2s;
}

.footer textarea:focus{
    border: 3px solid #e4952e;
    box-shadow: 0 0 20px rgba(228, 149, 46, 0.7);
}

.input_four{
    transition: 0.3s;
    transform: scale(1);
}

.input_four:hover{
    background: #ff970d;
}

.input_four:active{
    transform: scale(1.15);
}

.parallax{
    background: url(../img/BG-6.jpg) no-repeat;
    width: 100%;
    height: 150%;
    background-attachment: fixed;
    
}






